@font-face {
  font-family: 'bookman old style bold';
  src: url("../fonts/BOOKOSB.TTF");
  font-weight: bold;
  font-style: normal;
}

.site-logo {
  font-family: 'bookman old style bold';
}